@theme {
  --color-primary-100: #000000;

  --color-secondary-100: #c9a680;

  --color-card-bg-100: #2a2a2a;

  --color-text-one-100: #ffffff;

  --color-text-two-100: #73432b;

  --color-placeholder-100: #d6d6d6;
}
