@theme {
  --color-primary-100: #000000;

  --color-secondary-100: #9f5f45;

  --color-tertiary-100: #a05f46;

  --color-card-bg-100: #191919;

  --color-text-one-100: #ffffff;

  --color-text-two-100: #73432b;

  --color-placeholder-100: #d6d6d6;

}
