@theme {
  --text-display-1: 144px;
  --text-display-1--line-height: 174px;
  --text-display-1--letter-spacing: 0.3px;
  --text-display-1--font-weight: 300;

  --text-display-2: 104px;
  --text-display-2--line-height: 124px;
  --text-display-2--letter-spacing: 0.3px;
  --text-display-2--font-weight: 300;
}
