@theme {
  --text-display-1: 54px;
  --text-display-1--line-height: 60px;
  --text-display-1--letter-spacing: 0.3px;
  --text-display-1--font-weight: 900;

  --text-display-2: 20px;
  --text-display-2--line-height: 24px;
  --text-display-2--letter-spacing: 0.3px;
  --text-display-2--font-weight: 300;
}
